body {
    margin: 0;
}

.logo img {
    width: 50px;
    height: auto;
}

.nav-header {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: #3A4D39;
}

.upper-header {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-header a {
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    margin: 0%;
    font-family: "Itim", cursive;
}

.nav-header a:hover {
    color: #ECE3CE;
    ;
}

/* Override UGG site */
#main {
    width: 100%;
    padding: 0;
}

.content-asset p {
    margin: 0 auto;
}

.breadcrumb {
    display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
    padding-top: 10px;
}

.margin-bot-10 {
    padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
    font-family: "Oxygen", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
}

#parallax-world-of-ugg h2 {
    font-family: "Itim", cursive;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
}

#parallax-world-of-ugg h3 {
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
}

#parallax-world-of-ugg p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
}

.sc {
    color: #4F6F52;
}

.ny {
    color: #3d3c3a;
}

.atw {
    color: #c48660;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
    background: white;
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}

#parallax-world-of-ugg .title h1 {
    font-size: 35px;
    letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
    background: white;
    padding: 60px;
    max-width: 1440px;
    margin: 0 auto;
    text-align: justify;
}

#parallax-world-of-ugg .block-gray {
    background: #f2f2f2;
    padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.70;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/female-hands-typing-computer-keyboard_1303-27358.jpg?t=st=1708695580~exp=1708699180~hmac=cdf3819e5a14b32f3203fdecd8bbce04cb40dfc54ba86c5b43718cc2fc07c7c0&w=1380);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
    border-bottom: 1px solid black;
    width: 150px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-family: "Itim", cursive;
    font-weight: normal;
    color: #3A4D39;
    text-align: center;
    margin: 2rem 0;
}

.wrapper {
    margin: 0 auto;
    background-color: #ECE3CE;
    ;
    padding: 20px 210px 50px 210px;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0px;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;


    .container {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-position: center;
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
    }

    .back {
        background: #cedce7;
        background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }

    .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .container:hover .front,
    .container:hover .back {
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .inner {
        -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 1px solid transparent;
        -webkit-perspective: inherit;
        perspective: inherit;
        z-index: 2;
        font-family: "Itim", cursive;
    }

    .container .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .container .front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .container:hover .back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .container:hover .front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .front .inner p {
        font-size: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: "Oxygen", sans-serif;
        font-weight: 300;
    }
}

.objava {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.objava_text {
    display: flex;
    padding: 20px 74px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.objava_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 572px;
}

.objava_info h1 {
    color: #3A4D39;
    font-size: 37px;
    margin: 0%;
    text-align: start;
}

.objava_info p {
    color: #4F6F52;
    font-size: 24px;
    margin: 0%;
    font-family: "Oxygen", sans-serif;
}

.objava_autor {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Objava_ime {
    color: #3A4D39;
    font-size: 16px;
    margin: 0%;
    font-family: "Oxygen", sans-serif;
}

.lokacija {
    color: #739072;
    font-size: 14px;
    margin: 0%;
    font-family: "Oxygen", sans-serif;
}

.komentari_box {
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #4F6F52;
    justify-content: center;
}

.komentar {
    display: flex;
    padding: 20px 100px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    justify-content: center;
    background: #FFF;
}

.komentar h2 {
    color: #3A4D39;
    font-size: 32px;
    margin: 0%;
    font-family: "Itim", cursive;
}

.input_komentari {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.input_komentar {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}

.searchbar {
    border: none;
    outline: none;
    padding: 5px 10px;
    border: #000 1px solid;
    border-radius: 10px;
    border: 1px solid #4F6F52;
    width: 280px;
}

input.Poruka {
    border: none;
    outline: none;
    padding: 5px 450px 200px 10px;
    border: #000 1px solid;
    border-radius: 10px;
    border: 1px solid #4F6F52;
    text-align: start;
}

.search:hover {
    cursor: pointer;
}

.search input {
    width: 300px;
    background-color: white;
    color: #739072;
}

::placeholder {
    color: #739072;
}

.dugme_posalji {
    display: flex;
    padding: 8px 50px;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: #3A4D39;
    color: white;
    border: none;
}

.dugme_posalji:hover {
    background: #4F6F52;
    color: white;
    cursor: pointer;
}

footer {
    display: flex;
    padding: 50px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background: #3A4D39;
}

.slika {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}

.footerdole {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FFF;
}

.footerdole p {
    color: #FFF;
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
}

.stranicefooter {
    display: flex;
    align-items: center;
    gap: 39px;
}

.stranicefooter a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: "Itim", cursive;
}

.stranicefooter a:hover {
    text-decoration: underline;
}


/* Media Queries */
/**************************/

@media screen and (max-width: 1450px) {
    .wrapper {
        padding: 20px 50px;
    }

}

@media screen and (max-width: 1200px) {
    .objava {
        flex-direction: column;
        align-items: center;
        padding: 50px 0px 50px 0px;
    }

    .objava img {
        display: flex;
        width: 635px;
        height: auto;
        justify-content: center;
        align-items: center;
        border-radius: 24px;

    }

    .objava_text {
        align-items: center;
    }

    .objava_autor {
        align-items: center;
    }

    .objava_info {
        align-items: center;
    }

    .objava_info h1 {
        text-align: center;
    }

    .objava_info P {
        text-align: center;
    }

    .cols {
        padding: 20px 0px;
    }
}


@media screen and (max-width: 959px) {
    #parallax-world-of-ugg .block {
        padding: 40px;
        width: 620px;
    }

    .col {
        width: 100%;
        margin: 100px;
        padding: 0px;
    }

    .komentar {
        background: none;
    }

    .komentar h2 {
        color: white;
    }

    .search input {
        background-color: #4F6F52;
    }

    .searchbar {
        border: 1px solid white;
    }

    input.Poruka {
        border: 1px solid white;
    }

    .search input {
        background-color: #739072;
        color: white;
    }

    ::placeholder {
        color: white;
    }

    input.searchbar {
        background-color: #4F6F52;
    }

    input.Poruka {
        background-color: #4F6F52;
    }

    .wrapper {
        padding: 50px 0px;
    }

    .objava img {
        width: 560px;
        height: auto;
    }

    .dugme_posalji {
        background: #ECE3CE;
        color: #4F6F52;
    }

    .dugme_posalji:hover {
        background: #3A4D39;
        color: white;
    }

}

@media screen and (max-width: 700px) {
    .input_komentari {
        flex-direction: column;
    }

    .input_komentar {
        flex-direction: column;
    }

    .komentar {
        gap: 30px;
    }

    input.Poruka {
        padding: 5px 10px 200px 10px;
        width: 280px;
    }

}


@media screen and (max-width: 767px) {
    .col {
        width: 100%;
        margin: 50px;
    }

    .wrapper {
        padding: 50px 0px;
        ;
    }

    #parallax-world-of-ugg .block {
        padding: 30px;
        width: 420px;
    }

    #parallax-world-of-ugg h2 {
        font-size: 30px;
    }

    #parallax-world-of-ugg .block {
        padding: 30px;
    }

    #parallax-world-of-ugg .parallax-one,
    #parallax-world-of-ugg .parallax-two,
    #parallax-world-of-ugg .parallax-three {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 679px) {
    .objava img {
        width: auto;
        height: auto;
    }

    .objava {
        padding: 0px 0px 50px 0px;
    }

}

@media screen and (max-width: 479px) {
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 290px;
    }
}