* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.nav-header {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: #3A4D39;
}

.upper-header {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-header a {
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    margin: 0%;
}

.hero {
    display: flex;
    padding: 164px 165px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background: url("../assets/site_pics/hero-backround.jpg");
    background-repeat: no-repeat;
}

.hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.hero_text h1 {
    margin: 0%;
    color: #3A4D39;
}

.hero_text p {
    font-size: 20px;
    color: #739072;
    margin: 0%;
    text-align: center;
}

.hero a {
    text-decoration: none;
    padding: 8px 24px;
    color: white;
    border-radius: 4px;
    background: #3A4D39;
}

.wrapper h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin: 2rem 0;
}


.wrapper {
    padding: 50px 250px 100px 250px;
    background: #4F6F52;

}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #ECE3CE;
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #ECE3CE;
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #ECE3CE;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: #ECE3CE;
    font-family: 'Montserrat';
    font-weight: 300;
}

#carouselExampleIndicators {
    background-image: url("https://codeguide.co/code-guide-logo.png");
}

.nama_desno {
    display: flex;
    padding-right: 68px;
    align-items: center;
    gap: 48px;
}

.onama {
    display: flex;
    align-items: center;
    padding: 0px 250px 0px 250px;
}

.text_onama {
    padding: 4em;
}

.text_onama_innerInfo {
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Ime_tima {
    color: #183227;
    font-size: 16px;
    font-weight: bold;
    margin: 0%;
}

.SDG {
    color: #4F6F52;
    font-size: 14px;
    margin: 0%;
}

.text_onama_innerInfo a {
    text-decoration: none;
    border-radius: 4px;
    background: #3A4D39;
    padding: 8px 24px;
    color: white;
}


footer {
    display: flex;
    padding: 50px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background: #3A4D39;
}

.slika {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}

.footerdole {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FFF;
}

.footerdole p {
    color: #FFF;
    font-size: 16px;
}

.stranicefooter {
    display: flex;
    align-items: center;
    gap: 39px;
}

.stranicefooter a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.stranicefooter a:hover {
    text-decoration: underline;
}

.carousel {
    background: url("../assets/site_pics/komentari.png");
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}