* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

/* Header */

.hamburger{
    display: none;
}

.nav-header {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: #3A4D39;
}

.upper-header {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-header a {
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    margin: 0%;
    font-family: "Oxygen", sans-serif;
}

/* Hero */

.carusel{
    width: 100%;
    min-height: 450px; 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap:wrap;
}
  
.carusel-item{
    overflow: hidden;
    position: relative;
    flex: 1;
    transition-duration: 1s;
    min-height: 450px; 
}
  
.carusel-item:hover{
    flex: 5;
}
  
.carusel-item > img{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition-delay: 500ms;
    transition-duration: 1s;
}
  
.carusel-item:hover > img{
    filter: grayscale(0%);
}
  
.carusel-text{
    position: absolute;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    left: -100%;
    color: #3A4D39;
    width: 350px;
    opacity: 0;
    background: white   ;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    align-self: start;
}
  
.carusel-item:hover .carusel-text{
    left: 0%;
    opacity: 1;
}
  
.carusel-text h1{
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-variant: small-caps;
    font-family: "Oxygen", sans-serif;
}
  
.carusel-text p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-family: "Oxygen", sans-serif;
}
  
.carusel-text a{
    margin-top: auto;
    padding: 10px 25px;
    border: white solid 1px;
    color: white;
    text-decoration: none;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    transition: 500ms;
    position: relative;
    overflow: hidden;
    z-index: 3;
}
  
.carusel-text a:hover{
    color: #020202;
}
  
.carusel-text a::before{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    left: 0%;
    top: 0%;
    width: 0%;
    background: white;
    z-index: -1;
    transition: 500ms;
}
  
.carusel-text a:hover::before{
    width: 100%;
}

/* Projekti */

.wrapper h1{
    font-size: 2.5rem;
    font-family: "Oxygen", sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 2rem 0;
}
  
.wrapper{
    margin: 0 auto;
    background: #4F6F52;
    padding: 20px 210px 50px 210px;
}
  
.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0px;
}

.col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;

  
.container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
}
  
.front,
.back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
}
  
.back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}
  
.front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
  
.back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
}
  
.inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
      font-family: "Oxygen", sans-serif;
}
  
.container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
}
  
.container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
}
  
.container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
  
.container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
  
.front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
  
.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}
  
.front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
}
}

/* Objava */

.objava{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.objava_text{
    display: flex;
    padding: 20px 74px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.objava_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 572px;
}

.objava_info h1{
    color: #3A4D39;
    font-size: 37px;
    margin: 0%;
    text-align: start;
    font-family: "Oxygen", sans-serif;
}

.objava_info p{
    color: #4F6F52;
    font-size: 24px;
    margin: 0%;
    font-family: "Oxygen", sans-serif;
}

.objava_autor{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Objava_ime{
    color: #3A4D39;
    font-size: 16px;
    margin: 0%;
    font-family: "Oxygen", sans-serif;
}

.lokacija{
    color: #739072;
    font-size: 14px;
    margin: 0%;
    font-family: "Oxygen", sans-serif;
}

.objava img{
    width: 659px;
    height: 500px;
}

/* Tajmer */

.tajmer {
    color: #333;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
  
.tajmer h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
}
  
li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
}
  
li span {
    display: block;
    font-size: 4.5rem;
}
  
.emoji {
    display: none;
    padding: 1rem;
}
  
.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}
  
/* Footer */

footer {
    display: flex;
    padding: 50px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background: #3A4D39;
}

.slika {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}

.footerdole {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FFF;
}

.footerdole p {
    color: #FFF;
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
}

.stranicefooter {
    display: flex;
    align-items: center;
    gap: 39px;
}

.stranicefooter a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
}

.stranicefooter a:hover {
    text-decoration: underline;
}

.carousel {
    background: url("../assets/site_pics/komentari.png");
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

/* Media Queries */
/**************************/

@media screen and (max-width: 1450px) {
.wrapper{
    padding: 20px 50px;
}
        
}
    
@media screen and (max-width: 1200px){
.objava{
        flex-direction: column;
        align-items: center;
        padding: 50px 0px 50px 0px;
}
    
.objava img{
    display: flex;
    width: 635px;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}
    
.objava_text{
    align-items: center;
}
    
.objava_autor{
    align-items: center;
}
    
.objava_info{
    align-items: center;
}
    
.objava_info h1{
    text-align: center;
}
    
.objava_info P{
    text-align: center;
}
    
.cols{
padding: 20px 0px;
}
}
    
      
@media screen and (max-width: 959px) {
#parallax-world-of-ugg .block {padding: 40px; width:620px;}
.col{
    width: 100%;
    margin: 100px;
    padding: 0px;
}
    
.wrapper{
    padding: 50px 0px;
}
    
.objava img{
    width: 560px;
    height: auto;
}

footer{
    align-items: center;
}
        
.slika{
    padding: 0px;
}

div.stranicefooter {
    padding-bottom: 20px;
}

        
.footerdole{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-top: none;
}
        
.footerdole p{
    padding-top: 10px;
    padding-left: 0px;
    border-top: 1px solid white;
}
        
.stranicefooter{
    flex-direction: column;
    padding: 0px;}
}

@media screen and (max-width: 767px) {
.tajmer h1 {
    font-size: calc(1.5rem * var(--smaller));
}
      
li {
    font-size: calc(1.125rem * var(--smaller));
}
      
li span {
    font-size: calc(3.375rem * var(--smaller));
}


.col{
    width: 100%;
    margin: 50px;
}
      
.wrapper{
    padding: 50px 0px;;
}
    
#parallax-world-of-ugg .block {padding: 30px; width:420px;}
#parallax-world-of-ugg h2 {font-size:30px;}
#parallax-world-of-ugg .block {padding: 30px;}
#parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
    
@media screen and (max-width: 679px) {
.upper-header{
    background: #3A4D39;
}

.hamburger{
    display: flex;
}

.nav-header {
    display: none;
}

.objava img{
    width: auto;
    height: auto;
}
    
.objava{
    padding: 0px 0px 50px 0px;
}
    
}
    
@media screen and (max-width: 479px) {
#parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}
